<?xml version="1.0" encoding="UTF-8"?>
<html>
   <head>
      <meta content="HTML Tidy for Java (vers. 26 Sep 2004), see www.w3.org" name="generator"/>
      <link href="/soap/?stylesheet=1" rel="stylesheet" type="text/css"/>
      <meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
      <title>CXF - Service list</title>
   </head>
   <body>
      <span class="heading">Available SOAP services:</span>
      <br/>
      <table width="100%" border="1" cellspacing="1" cellpadding="1">
         <tr>
            <td>
               <span class="porttypename">EmployeeServicePortType</span>
               <ul>
                  <li>GetEmployeesByName</li>
                  <li>GetEmployeeById</li>
               </ul>
            </td>
            <td>
               <span class="field">Endpoint address:</span>
               <span class="value">https://localhost:8043/soap/service/employee</span>
               <br/>
               <span class="field">WSDL :</span>
               <a href="https://localhost:8043/soap/service/employee?wsdl">{http://endpoint.springbootcxf.springbootcxf.chrias.com/}EmployeeEndpointService</a>
               <br/>
               <span class="field">Target namespace:</span>
               <span class="value">http://endpoint.springbootcxf.springbootcxf.chrias.com/</span>
            </td>
         </tr>
      </table>
      <br/>
      <br/>
   </body>
</html>